<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Aliens Counter</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }

        </style>
    </head>
    <body>
        <table style="width=100%">
            <tr>
                <th>Estado</th>
                <th>Total de Eventos</th>
            </tr>
            {% for state in states %}
            <tr>
                <td>{{ state }}</td>
                <td>{{ state.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
