{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <table class="table table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>Estado</th>
                    <th>Total de Eventos</th>
                </tr>
            </thead>
            <tbody>
                {% for state in states %}
                <tr>
                    <td>{{ state }}</td>
                    <td>{{ state.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
