{% extends "base.html" %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'aliens:home' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aliens:register' %}">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aliens:alien_list' %}">Listagem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'aliens:alien_counter' %}">Contagem</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Agriconnected Alien</h1>
    <h2>Buscando soluções otimizadas para a redução de danos causada por extra-terrestres.</h2>
</div>
{% endblock %}
