{% extends "base.html" %}
{% load static %}
{% block navbar %}
<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aliens:home' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aliens:register' %}">Cadastro</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'aliens:alien_list' %}">Listagem</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'aliens:alien_counter' %}">Contagem</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row"><div class="col"><br><br></div></div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Data</th>
                </thead>
                {% for alien in aliens %}
                <tr align="center">
                    <td>{{ alien.city }}</td>
                    <td>{{ alien.state_name }}</td>
                    <td>{{ alien.date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}
