{% extends "base.html" %}

{% load static %}
{% block title %}
<title>Cadastro | Aliens </title>
{% endblock %}
{% block navbar %}
<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aliens:home' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'aliens:register' %}">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aliens:alien_list' %}">Listagem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'aliens:alien_counter' %}">Sumário</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% if messages %}
<div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}



<div class="container">
    <div class="row"><div class="col"><br><br></div></div>
    <form action="" method="post">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group">
                    <h2 align="center">Cadastro</h2>
                    <p>{{ form.city.label }}<br>{{ form.city }}</p>
                    <p>{{ form.state.label }}<br>{{ form.state }}</p>
                    <p>{{ form.date.label }}<br>{{ form.date }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span></p>
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                    <hr />

                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-5"></div>
                <div class="col-2">
                    <input class="btn btn-success" type="submit" value="Salvar" />
                    <a href="{% url 'aliens:home' %}" class="btn btn-primary">Voltar</a>
                </div>
            <div class="col-5"></div>
        </div>
    </form>
</div>
{% endblock %}
